<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All posts</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <% layout('layout') %>
    <%for(let post of posts){ %>
    <div class="post" id="adi">
    <h3>@ <%=post.username%></h3>
    <h3><%=post.content%></h3>
    <br>
    <span class="viewedit">
    <a href="/posts/view/<%=post.id%>" style="color: blue;" > View in Detail  </a>
    </span>
    <br>
    <span class="viewedit">
    <a href="/posts/edit/<%=post.id%>" style="color: blue;">Edit Post</a>
    </span>
    <form method="post" action="/posts/<%=post.id%>/?_method=delete">
    <button class="btn">Delete Post</button>
    </form>
    </div>
    <%}%>
    <br>
    <div class="nav">
    <a href="/posts/new" >Create New Post</a>
    </div>
</body>
</html>